#Medicare{
   font-style: Source Sans Pro;
   background-image: url("./Image/1.jpeg");
   background-size: cover;
   height: 100vh;
   width: auto;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
}

.navbar-brand {
    padding-left: 0px;
  }

.navbar {
    z-index: -1;
    background-color: transparent;
    padding: 10px 120px;
  }
  
  .navbar-nav {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap ;
  }
  
  .nav-link {
    color: #0073FF;
    font-size: 16px;
    font-weight: bold;
    font-style: Source Sans Pro;
    font-weight: 700; 
    margin-left: 20px;
  }
  
  .nav-link:hover {
    color: #007bff; 
  }
  
  .btn-primary {
    background-color: #007bff; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 0px;
  }

  .btn-primary:hover {
    background-color: #0056b3; 
  }
  
/* -------------------Header------------------------- */
.container {
    font-style: Source Sans Pro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    height: 100vh;
    padding: 20px;
  }
  
  .header {
    text-align: left;
    flex: -1;
    margin-right: 50px;
  }
  
  .header h1 {
    font-size: 64px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #003B79;
  }
  
  .header h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color:#002348;
  }
  
  .header p {
    font-size: 20;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .button {
    font-weight: bold;
    background-color: #007FF4; 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttom {
    font-weight: bold;
    background-color: #FFFFFF; 
    color: #007DF2;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #0056b3; 
  }

  .buttom:hover {
    background-color: yellow;
  }
  
  .image {
    background-image: url("./Image/4.png");
    background-size: contain;
    width: 300px;
    height: 350px;
    border-radius: 20px;
  }

  /* -------------Service--------------- */
  .app-container {
    display: flex;
    background-color: transparent;
    padding: 10px 160px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .app-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .app-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 76px;
  }
  
  .app-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #pul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 290px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #007EF3;
  }

  app-service active{
    background-color: #007EF3;
  }

  .app-service img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  
  .app-service h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .app-service button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .app-service:hover {
    background-color: #31f300;
  }
  
  .app-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .app-footer button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .app-footer button:hover {
    background-color: #3e8e41;
  }
  
  .app-footer p {
    margin-left: 10px;
  }

  /* ---------------Innovative------------------ */
  .innovative-container {
    display: flex;
    flex-direction: row;
    width: 1340px;
    font-family: sans-serif; 
    padding-top: 80px;
    padding-left: 90px;
    padding-bottom: 80px;
    padding-right: 20px;
  }
  
  .innovative-title {
    display: block;
    flex-direction: column;
    margin-top: 220px;
    color: #003B79;
    margin-bottom: 50px;
  }

  .innovative-title h2{
    font-weight: bold;
  }

  .innovative-title button {
    background-color: #007FF4; 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .innovative-services {
    padding-left: 120px;
    width: 900px;
    height: 150px;
  }
  
  .innovative-service-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 55%;
  }
  
  .innovative-service-card img {
    width: 150px;
    height: 140px;
    margin-bottom: 10px;
    z-index: -1;
  }
  
  .innovative-look {
    width: 700px;
    height: 150px;
    padding-top: 160px;
  }

  /* ----------------Specialist------------------- */
.special{
    background-image: url(./Image/12.jpeg);
    margin-top: 150px;
    padding: 0px;
    width: 100%;
}

.special-container {
    color: #003B79;
    z-index: -1;
    /* width: 100%; */
    /* max-width: auto; */
    /* margin: 0 auto; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .special-header {
    align-items: center;
    color: #003B79;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .special-title {
    color: #003B79;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .special-description {
    font-size: 1.2rem;
    color: #003B79;
  }
  
  .special-cards {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
  }
  
  .special-card {
    align-items: center;
    width: 24%;
    margin-left: 10px;
    /* margin-bottom: 20px; */
    padding: 15px;
    border-radius: 5px;
  }
  
  .special-image {
    width: 90%;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
  }

  .special-image img {
    width: 100%;
    border-radius: 6px;
    /* height: auto; */
    /* display: block; */
  }
  
  .special-content {
    margin-top: -1px;
    background-color: white;
    text-align: center;
    padding-top: 5px;
  }
  
  .special-content h3 {
    padding-left: 0px;
    font-size: 24px;
    margin-bottom: 5px;
    color: #002348;
  }
  
  .special-content p {
    font-size: 18px;
    color: #00d348;
  }

/* ------ */
.say-testimonials {
  align-items: center;
  margin-left: 80px;
  padding: 30px;
}

.say-testimonials-container {
  text-align: center;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 40px;
  margin-top: 30px;
}

.say-testimonial {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 450px;
}

.say-quote {
  text-align: left;
  margin-bottom: 5px;
}

.say-author {
  display: flex;
  align-items: center;
}

.say-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.say-author h5 {
  color: #002348;
  margin-bottom: 5px;
}

/* --------News--------- */
.news {
  max-width: 900px; 
  margin: 40px auto; 
  padding: 20px;
  background-color: #f9f9f9; 
  background-image: url("./Image/15.png");
  background-image: l;
}

.newsletter-container {
  background-color: #007bff; 
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.newsletter-container h2 {
  margin-bottom: 10px;
}

.newsletter-container p {
  margin-bottom: 20px;
}

.newsletter-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-container input[type="email"] {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.newsletter-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-container button[type="submit"]:hover {
  background-color: #e9ecef;
}

/* ---------Footer---------- */
/* .foot{
  background-image: url(./Image/16.png) ;
} */

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #F7FBFF;
}

.social-icons {
  display: flex;
  padding-left: 120px;
}

.icon {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
}

footer p{
  text-align: left;
  padding-left: 127px;
}